<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"     type="System.Configuration.IgnoreSectionHandler" />
    <section name="DataUpload"  type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <!-- 
  =======================================================================================
  Configuration for search engine data upload process
  -->
  <DataUpload>
    <SqliteDatabase name="IMDB" fileName="imdb.db" />
    <Database>backend.db</Database>

    <Domain name="title" source="IMDB" leaf="True">
      <Sql>
        <![CDATA[
select id,title from title where kind_id=1 and episode_of_id is NULL
     ]]>
      </Sql>
      <Key        column="id"    />
      <SearchText column="title" />
    </Domain>
    <Domain name="akatitle" source="IMDB">
      <Sql>
        <![CDATA[
select a.id,a.title,a.movie_id from aka_title a inner join title t on a.movie_id = t.id where t.kind_id=1 and t.episode_of_id is NULL
     ]]>
      </Sql>
      <Key        column="id"    />
      <SearchText column="title" />
      <Link       column="movie_id"  domain="title" linkedId="id"/>
    </Domain>
    <Domain name="character" source="IMDB" leaf="True">
      <Sql>
        <![CDATA[
select c.id,c.name from char_name c 
where (
  select count(*) from cast_info i inner join title t on i.movie_id = t.id 
  where i.person_role_id = c.id and t.kind_id=1 and t.episode_of_id is NULL and i.role_id in (1,2,3,4,8)
) > 0
     ]]>
      </Sql>
      <Key        column="id"    />
      <SearchText column="name" />
    </Domain>
    <Domain name="name" source="IMDB" leaf="True">
      <Sql>
        <![CDATA[
select n.id,n.name from name n
where (
  select count(*) from cast_info i inner join title t on i.movie_id = t.id 
  where i.person_id = n.id and t.kind_id=1 and t.episode_of_id is NULL and i.role_id in (1,2,3,4,8)
) > 0
     ]]>
      </Sql>
      <Key        column="id"    />
      <SearchText column="name" />
    </Domain>
    <Domain name="actor" source="IMDB">
      <Sql>
        <![CDATA[
select i.id,i.person_id,i.movie_id,i.person_role_id,i.note 
from cast_info i inner join title t on i.movie_id = t.id
where i.role_id = 1 and t.kind_id=1 and t.episode_of_id is NULL
     ]]>
      </Sql>
      <Key        column="id"    />

      <Link       column="person_id" domain="name"  linkedId="id"/>
      <Link       column="movie_id"  domain="title" linkedId="id"/>
      <Link       column="person_role_id"  domain="character" linkedId="id"/>
      <SearchText column="note" />
    </Domain>
    <Domain name="actress" source="IMDB">
      <Sql>
        <![CDATA[
select i.id,i.person_id,i.movie_id,i.person_role_id,i.note 
from cast_info i inner join title t on i.movie_id = t.id
where i.role_id = 2 and t.kind_id=1 and t.episode_of_id is NULL
]]>
      </Sql>
      <Key        column="id"    />

      <Link       column="person_id" domain="name"  linkedId="id"/>
      <Link       column="movie_id"  domain="title" linkedId="id"/>
      <Link       column="person_role_id"  domain="character" linkedId="id"/>
      <SearchText column="note" />
    </Domain>
    <Domain name="producer" source="IMDB">
      <Sql>
        <![CDATA[
select i.id,i.person_id,i.movie_id,i.person_role_id,i.note 
from cast_info i inner join title t on i.movie_id = t.id
where i.role_id = 3 and t.kind_id=1 and t.episode_of_id is NULL
     ]]>
      </Sql>
      <Key        column="id"    />

      <Link       column="person_id" domain="name"  linkedId="id"/>
      <Link       column="movie_id"  domain="title" linkedId="id"/>
      <SearchText column="note" />
    </Domain>
    <Domain name="writer" source="IMDB">
      <Sql>
        <![CDATA[
select i.id,i.person_id,i.movie_id,i.note 
from cast_info i inner join title t on i.movie_id = t.id
where i.role_id = 4 and t.kind_id=1 and t.episode_of_id is NULL
     ]]>
      </Sql>
      <Key        column="id"    />

      <Link       column="person_id" domain="name"  linkedId="id"/>
      <Link       column="movie_id"  domain="title" linkedId="id"/>
      <SearchText column="note" />
    </Domain>
    <Domain name="director" source="IMDB">
      <Sql>
        <![CDATA[
select i.id,i.person_id,i.movie_id,i.note 
from cast_info i inner join title t on i.movie_id = t.id
where i.role_id = 8 and t.kind_id=1 and t.episode_of_id is NULL
     ]]>
      </Sql>
      <Key        column="id"    />

      <Link       column="person_id" domain="name"  linkedId="id"/>
      <Link       column="movie_id"  domain="title" linkedId="id"/>
      <SearchText column="note" />
    </Domain>
    <Domain name="link" source="IMDB">
      <Sql>
        <![CDATA[
select l.id, l.movie_id, l.linked_movie_id 
from movie_link l 
inner join title lm on l.movie_id = lm.id
inner join title rm on l.linked_movie_id = rm.id
where lm.kind_id=1 and lm.episode_of_id is NULL
and   rm.kind_id=1 and rm.episode_of_id is NULL
     ]]>
      </Sql>
      <Key        column="id"    />

      <Link       column="movie_id"         domain="title" linkedId="id"/>
      <Link       column="linked_movie_id"  domain="title" linkedId="id"/>
    </Domain>
    
  </DataUpload>

  <!-- 
  =======================================================================================
  Log4Net Configuration
  -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Blue, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan,HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Purple,HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red,HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red,HighIntensity" />
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-3thread] %-5level %-15logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  
</configuration>